<div class="checkout-detail">
    <div class="payment-inline">
        <ng-container *ngFor="let payment of setting?.payment_methods; let i = index;">
            <div class="payment-item" *ngIf="payment?.status">
                <input class="form-check-input" type="radio" name="payment_method" [id]="payment.name" (change)="set(payment.name)">
                <label class="form-check-label" for="{{payment.name}}">
                    {{ (payment.title ? payment.title : payment.name) }}
                </label>
                <img *ngIf="payment.icon" [src]="payment.icon" class="payment-icon" alt="{{payment.title || payment.name}}">
            </div>
        </ng-container>
    </div>
</div>