 <div class="container my-contact">
    <!-- Left side with map image -->
    <div class="map-box">
      <img src="../../assets/images/my-store.jpg" alt="Map">
    </div>

    <!-- Right side with contact details and form -->
    <div class="form-box">
      <div class="contact-info">
        <h2>Our Location</h2>
        <p> UNIT NO 863, 8th FLOOR, GAUR CITY MALL, SECTOR 4, GREATER NOIDA WEST, Noida, Gautam Buddha Nagar, Noida, Uttar Pradesh, India, 201301

</p>
        <p>+91 7505711174

</p>
<p> support&#64;dresswithtrend.com

</p>
      </div>

    
      <div class="form-section">
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your E-mail">
        <input type="tel" placeholder="Your Number">
        <textarea placeholder="Message"></textarea>
        <button type="submit">Submit</button>
      </div>
    </div>
  </div>