<div class="price-range-filter custom-padding">
  <div class="price-input-group">
    <div class="price-input-wrapper">
      <label for="min-price">{{ 'Min' | translate }}</label>
      <input 
        type="number" 
        id="min-price"
        class="form-control price-input" 
        [value]="minPrice"
        [min]="minValue"
        [max]="maxValue"
        (input)="onMinPriceChange($event)"
        (blur)="applyFilter()">
    </div>
    <div class="price-input-wrapper">
      <label for="max-price">{{ 'max' | translate }}</label>
      <input 
        type="number" 
        id="max-price"
        class="form-control price-input" 
        [value]="maxPrice"
        [min]="minValue"
        [max]="maxValue"
        (input)="onMaxPriceChange($event)"
        (blur)="applyFilter()">
    </div>
  </div>
  
  <div class="price-range-slider-wrapper">
    <div class="slider-container">
      <div class="slider-track">
        <div class="slider-range" 
             [style.left]="getSliderPercentage(minPrice) + '%'"
             [style.width]="(getSliderPercentage(maxPrice) - getSliderPercentage(minPrice)) + '%'">
        </div>
      </div>
      <input 
        type="range" 
        class="slider-input slider-input-min"
        [min]="minValue"
        [max]="maxValue"
        [value]="minPrice"
        (input)="onMinSliderChange($event)"
        [style.zIndex]="minPrice > maxPrice - (maxValue - minValue) / 10 ? '5' : '3'">
      <input 
        type="range" 
        class="slider-input slider-input-max"
        [min]="minValue"
        [max]="maxValue"
        [value]="maxPrice"
        (input)="onMaxSliderChange($event)"
        [style.zIndex]="minPrice > maxPrice - (maxValue - minValue) / 10 ? '3' : '5'">
    </div>
  </div>

  <div class="price-range-display">
    <span class="price-range-text">
      <span>{{ minPrice | currencySymbol }}</span>
      <span class="separator">-</span>
      <span>{{ maxPrice | currencySymbol }}</span>
    </span>
  </div>
</div>
